*
{
  margin: 0;
  padding: 0;
}

a {
    color: #CFAB6F!important;
    text-decoration: none!important;
}

h1
{
  text-align: left !important;
  color: #CFAB6F !important;
  padding-bottom: 10px;
}

h2
{
  text-align: left !important;
  color: #CFAB6F !important;
  padding-top: 10px;
}

h6
{
  text-align: left !important;
  color: #CFAB6F !important;
}

h4
{
  text-align: center !important;
  color: #000000 !important;
  padding-bottom: 10px;
}

h5
{
  color: #DAA520 !important;
  padding-bottom: 0px;
  text-align: center!important;
}

p
{
  color: #191F2F;
  font-size: 1ve !important;
  text-align: left;
}

.line {
  color: #fff!important;
}

/*------------------------------- Nav Bar ------------------------*/
.navbar-custom
{
    background-color: #191F2F;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text
{
    color: #CFAB6F!important;
}

.navbar-custom .navbar-nav .nav-link
{
    color: #CFAB6F!important;
}

.navbar-custom .nav-item.active .nav-link
{
    color: #CFAB6F!important;
}

.navbar-custom .nav-item:hover .nav-link
{
    color: #efefef!important;
}

.navbar-custom .dropdown-menu
{
    background-color: #191F2F;

}

.navbar-custom .dropdown-item
{
    color: #CFAB6F;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus
{
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

.dropdown-item {
  color: #CFAB6F!important;
}

.navbar-brand img {
  height: 80px;
}

/*------------------------------- Services ------------------------*/
#services {
  padding: 50px;
  padding-top: 0px!important;
}

.collapsible {
  background-color: #191F2F;
  color: #CFAB6F;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

ul.services {
  padding-left: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}

tr:nth-child(even) {
}

/*------------------------- Associates --------------------*/
.associates {
  width: 130px;
  height: 100px;
  padding-right: 20px;
}

/*------------------------------- Contact ------------------------*/
#enquiry {
    padding: 40px;
}

#enquiry label {
    color: #CFAB6F !important;
}

#enquiery button {
    background-color: #CFAB6F !important;
}

#contact {
  background: #CFAB6F;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact {
  color: #2e2e2e!important;
}

::placeholder {
  color: #efefef!important;
}

.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}

.contact-info {
  align-items: center;
  width: 100%;
}

.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

#contact .fa-instagram {
    color: #CFAB6F;
}


#contact .fa-envelope {
    color: #CFAB6F;
}


#contact .fa-phone {
    color: #CFAB6F;
}

#contact .fa-mobile {
    color: #CFAB6F;
}


#contact .fa-id-badge {
    color: #CFAB6F;
}

/*------------------------------- Disclaimer ------------------------*/
#disclaimer {
  background: #191F2F;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 0px;
}

.authority {
  width: 30%;
  height: 50%;
}

#disclaimer p {
  color: #CFAB6F!important;
  align-items: center;
  text-align: justify;
  font-size: small;
}


/*----------------------------- Footer ----------------------*/
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #CFAB6F;
}

.socials {
  text-align: center;
  padding-bottom: 10px;
}

.socials a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  color: white;
  margin: 0 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 24px;
}


.fa-twitter {
  color: #191F2F;
}

.fa-instagram {
    color: #191F2F;
}

.fa-linkedin {
    color: #191F2F;
}

.fa-facebook {
    color: #191F2F;
}

.fa-envelope {
    color: #191F2F;
}

.fa-phone {
    color: #191F2F;
}

.footer-msg {
  text-align: center;
  color: #191F2F;
}
