/*--------------------------- Splash Screen  --------------------------------*/
body.splash {
  background-color: #191F2F;
  padding-bottom: 100px;
}

.SplashImage {
  width: 100%;
  padding-bottom: 50px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #CFAB6F;
  border: none;
  color: #191F2F;
  text-align: center;
  font-size: 28px;
  padding-top: 5px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
}

.button p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 25px;
}

.button p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover p {
  padding-right: 25px;
}

.button:hover p:after {
  opacity: 10;
  right: 0;
}

.button {
    position: absolute;
    left: 40%;
}


/*--------------------------------- Body ----------------------------------*/
* {
  margin: 0;
  padding: 0;
}

a {

    text-decoration: none!important;

}

h1 {
  text-align: left;
  color: #CFAB6F;
  padding-bottom: 10px;
}

h2 {
  text-align: left;
  color: #CFAB6F;
  padding-top: 10px;
}

h6 {
  text-align: left;
  color: #CFAB6F;
}

h4 {
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
}

h5 {
  /*color: #DAA520;
  padding-bottom: 0px;*/


  text-align: center;
  color: #000000;
  padding-bottom: 10px;
}



/*p {
    color: #191F2F;
    font-size: 22px;
    text-align: justify;
  }*/

.line {
  color: #fff;
}

/*-------------------------------- Nav Bar ---------------------------------*/
.navbar-custom
{
    background-color: #191F2F;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text
{
    color: #CFAB6F;
}

.navbar-custom .navbar-nav .nav-link
{
    color: #CFAB6F;
}

.navbar-custom .nav-item.active .nav-link
{
    color: #CFAB6F;
}

.navbar-custom .nav-item:hover .nav-link
{
    color: #efefef;
}

.navbar-custom .dropdown-menu
{
    background-color: #191F2F;

}

.navbar-custom .dropdown-item
{
    color: #CFAB6F;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus
{
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

.dropdown-item {
  color: #CFAB6F;
}

.navbar-brand img {
  height: 180px;
}

/*------------------------------ Content----------------------------------*/
#content {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

#content-associates {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
}

#content-mortgages {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
}

#content-offshore {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
}

#content-contact {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
}

/*-------------------------------- Services -------------------------------*/
#services {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 200px;
}

.collapsible {
  background-color: #191F2F;
  color: #CFAB6F;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  /*font-size: 22px;*/
}

.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

ul.services {
  padding-left: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}

tr:nth-child(even) {
}


/*------------------------------ Associates ------------------------------*/
.associates {
  width: 15%;
  height: 10%;
  padding-right: 30px;
}

/*------------------------------- Contact ---------------------------------*/
#enquiry {
    padding: 40px;
}

#enquiry label {
    color: #CFAB6F;
}

#enquiery button {
    background-color: #CFAB6F;
}

#contact {
  background: #CFAB6F;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact {
  color: #2e2e2e!important;
}

::placeholder {
  color: #efefef!important;
}

.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}

.contact-info {
  align-items: center;
  width: 100%;
}

.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

#contact .fa-instagram {
    color: #CFAB6F;
}


#contact .fa-envelope {
    color: #CFAB6F;
}


#contact .fa-phone {
    color: #CFAB6F;
}

#contact .fa-mobile {
    color: #CFAB6F;
}

#contact .fa-id-badge {
    color: #CFAB6F;
}

.btn-custom {
  color: #CFAB6F;
}

/*--------------------------------- Disclaimer ------------------------------*/
#disclaimer {
  background: #191F2F;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 0px;
}

.authority {
  width: 30%;
  height: 50%;
}

#disclaimer p {
  color: #CFAB6F!important;
  align-items: center;
  text-align: justify;
  font-size: medium;
}


/*--------------------------------- Footer ----------------------------------*/
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #CFAB6F;
}

.socials {
  text-align: center;
  padding-bottom: 10px;
}

.socials a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  color: white;
  margin: 0 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 24px;
}

.fa-twitter {
  color: #191F2F;
}

.fa-linkedin {
    color: #191F2F;
}

.fa-facebook {
    color: #191F2F;
}

.fa-envelope {
    color: #191F2F;
}

.fa-phone {
    color: #191F2F;
}

.footer-msg {
  text-align: center;
  color: #191F2F;
}

/*----------------------- Mobile -------------------------*/
@media only screen and (max-width: 999px) {
   p {
    color: #191F2F;
    font-size: 23px;
    text-align: justify;
  }

  a {
    color: #CFAB6F!important;
    text-decoration: none!important;
    font-size: 23px;
    }

  li {
     font-size: 23px;
  }

  h4 {
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
  font-size: 2vw!important;
  }

  h5 {
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
  font-size: 23px;
  }

  .collapsible {
      font-size: 23px;
  }

  .small-txt {
    font-size: 1.5vw;
  }

  .form-txt {
    font-size: 23px;
  }

  .contact-txt {
    font-size: 23px;
  }
}
